@model UserCreateViewModel

<form asp-action="Create" asp-controller="User">
    <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName" placeholder="Enter First Name">
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" class="form-control"  asp-for="LastName" placeholder="Enter Last Name">
    </div>
    <div class="form-group">
        <label for="LastName">Email</label>
        <input type="email" class="form-control" asp-for="Email" placeholder="Enter Email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" asp-for="Password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>